# Introduction

* The data set is 13000+ images collected from the web
* with each image is manually labelled
* Data set is desigend for exploring creating and testing image recognition algorithms
* Lets try running an algorithm that can successfully identify faces in the dataset
  * after having been trained on similar faces.

# Libraries

In [5]:
import numpy as np
import pandas as pd
import os 
import matplotlib.pyplot as plt

from mtcnn.mtcnn import MTCNN
from PIL import Image
from sklearn.datasets import fetch_lfw_people, fetch_lfw_pairs
from keras.models import Sequential
from keras.layers import Dense, Conv2D, Flatten, MaxPool2D, Dropout

# Data loading

* dataset source
* https://www.kaggle.com/datasets/jessicali9530/lfw-dataset

In [9]:
# Images folder
data_folder = './data'
os.listdir(data_folder)

['pairs.csv',
 'matchpairsDevTest.csv',
 'people.csv',
 'lfw_readme.csv',
 'peopleDevTest.csv',
 'mismatchpairsDevTrain.csv',
 'lfw-deepfunneled',
 'matchpairsDevTrain.csv',
 'mismatchpairsDevTest.csv',
 'lfw_allnames.csv',
 'peopleDevTrain.csv']

In [23]:
lfw_allnames = pd.read_csv('./data/lfw_allnames.csv')
match_pairs_devTest = pd.read_csv('./data/matchpairsDevTest.csv')
mismatch_pairs_devTest = pd.read_csv('./data/mismatchpairsDevTest.csv')
match_pairs_devTrain = pd.read_csv('./data/matchpairsDevTrain.csv')
mismatch_pairs_devTrain = pd.read_csv('./data/mismatchpairsDevTrain.csv')
pairs = pd.read_csv('./data/pairs.csv')
pairs.head()

                    name  imagenum1 imagenum2  Unnamed: 3
0           Abel_Pacheco          1         4         NaN
1         Akhmed_Zakayev          1         3         NaN
2         Akhmed_Zakayev          2         3         NaN
3          Amber_Tamblyn          1         2         NaN
4  Anders_Fogh_Rasmussen          1         3         NaN

In [24]:
# clean up tidy pairs 

pairs = pairs.rename(columns={'name':'name1', 'Unnamed: 3':'name2'})
matched_pairs = pairs[pairs['name2'].isnull()].drop('name2', axis=1)
matched_pairs

                       name1  imagenum1 imagenum2
0               Abel_Pacheco          1         4
1             Akhmed_Zakayev          1         3
2             Akhmed_Zakayev          2         3
3              Amber_Tamblyn          1         2
4      Anders_Fogh_Rasmussen          1         3
...                      ...        ...       ...
5695      Vladimir_Voltchkov          1         2
5696                 Wang_Yi          1         2
5697  Zafarullah_Khan_Jamali          1         2
5698              Zhu_Rongji          1         3
5699              Zhu_Rongji          2         8

[3000 rows x 3 columns]

In [26]:
mismatched_pairs = pairs[pairs['name2'].notnull()]
mismatched_pairs

,name1,imagenum1,imagenum2,name2
300,Abdel_Madi_Shabneh,1,Dean_Barker,1.0
301,Abdel_Madi_Shabneh,1,Giancarlo_Fisichella,1.0
302,Abdel_Madi_Shabneh,1,Mikhail_Gorbachev,1.0
303,Abdul_Rahman,1,Portia_de_Rossi,1.0
304,Abel_Pacheco,1,Jong_Thae_Hwa,2.0
...,...,...,...,...
5995,Scott_Wolf,2,Troy_Polamalu,1.0
5996,Sergei_Alexandrovitch_Ordzhonikidze,1,Yolanda_King,1.0
5997,Shane_Loux,1,Val_Ackerman,1.0
5998,Shawn_Marion,1,Shirley_Jones,1.0
5999,Slobodan_Milosevic,2,Sok_An,1.0

In [7]:
images.keys()

dict_keys(['data', 'pairs', 'target', 'target_names', 'DESCR'])